doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Films
    body
        main
            h1 Vista para ver información de película
            section
                if film
                    h2= film.Title
                    p= film.Plot
                    img(src=film.Poster, alt=film.Title)
                else
                    p#dataFilmApi
                    p#message #{error}